<p id="notice"><%= notice %></p>

<h1>Crypto Prices</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Cryptocurrency</th>
      <th>Captured at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crypto_prices.each do |crypto_price| %>
      <tr>
        <td><%= crypto_price.price %></td>
        <td><%= crypto_price.cryptocurrency_id %></td>
        <td><%= crypto_price.captured_at %></td>
        <td><%= link_to 'Show', crypto_price %></td>
        <td><%= link_to 'Edit', edit_crypto_price_path(crypto_price) %></td>
        <td><%= link_to 'Destroy', crypto_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crypto Price', new_crypto_price_path %>
